
.navbar .brand {
    font-family: 'Alegreya SC',sans-serif;
    font-weight: 900;
    font-size: 50px;
}


#simplegallery1 .gallerydesctext{ //CSS for description DIV of Example 1 (if defined)
    text-align: left;
    padding: 2px 5px;
}

.navbar .container {
    width: 940px;
}

.navbar-inner {

    background-color: #2a4f83;
    background: -moz-linear-gradient(top, rgba(42, 79, 131, 0.89) 0%, rgba(41, 57, 107, 0.88) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(42, 79, 131, 0.89)), color-stop(100%, rgba(41, 57, 107, 0.89))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(42, 79, 131, 0.89) 0%, rgba(41, 57, 107, 0.89) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(42, 79, 131, 0.89) 0%, rgba(41, 57, 107, 0.89) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(42, 79, 131, 0.89) 0%, rgba(41, 57, 107, 0.89) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(42, 79, 131, 0.89) 0%, rgba(41, 57, 107, 0.89) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61b3859', endColorstr='#e612243a',GradientType=0 ); /* IE6-9 */
    border: 1px solid #29396b;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: -moz-linear-gradient(-45deg,  rgba(41,57,107,0.71) 0%, rgba(41,57,107,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(41,57,107,0.71)), color-stop(100%,rgba(41,57,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(41,57,107,0.71) 0%,rgba(41,57,107,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(41,57,107,0.71) 0%,rgba(41,57,107,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(41,57,107,0.71) 0%,rgba(41,57,107,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(41,57,107,0.71) 0%,rgba(41,57,107,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b529396b', endColorstr='#29396b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


body {
    background-image: url("../img/backgrounds/retina_dust.png");
    color: #5e5e5e;
}

.footer {
    color: #ffffff;
    background:
        -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
        -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;; background:
    -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
    -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #202851;
    background-size:16px 16px;
}

.footer address{
    font-size: 12px;
}

.footer a {
    color: gray;
}
.footer a.social:hover{
    text-decoration: none;
    color: white;
}

.right_ruler {
    border-right: 1px solid #bababa;
}

.left_ruler {
    border-left: 1px solid #bababa;
}

section {
   padding-top: 100px;
   padding-bottom: 95px;
}

.slide-notes-overlay {
    position: absolute;
    top: 200px;
    left: 400px;
    z-index: 100;


    background-color: #2f2e2e;
    opacity: 0.8;
    padding: 18px;

    width: 350px;
    height: 215px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: white;
}

.bodycontent {
    background: white;
    opacity: 0.8;
    padding :20px;
    -webkit-box-shadow: 2px 2px 10px #000000;
    box-shadow:2px 2px 10px #A6A6A6
}

.anythingSlider-polished .anythingWindow {
    border: 0;
}

hr {
    margin: 0;
}

footer address{
    color: #d3d3d3;

}

footer address:hover{
   color: white;
   font-weight:bold;
}

footer a:hover {
    color: white;
}

.footercell{
    padding-top: 15px;
}

/*** Set Slider dimensions here! Version 1.7+ ***/

/* New in version 1.7+ */
ul#slider {
    /*width: 400px;*/
    /*height: 300px;*/
    list-style: none;
}
/* images with caption */
ul#slider img {
    width: 100%;
    height: 100%;
}
/* position the panels so the captions appear correctly */
ul#slider .panel { position: relative; }
/* captions */




ul#slider li {
    position: relative;
    list-style: none;
}

.caption {
    width: 400px;
    height: 250px;
    margin: 10px auto;
    padding-left: 10px;
    /*border-top: yellow 5px solid; *//* adjust border color and size here */
    background: rgba(80,80,80,.7); /* adjust caption background color here */
    color: white;
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;

    -webkit-border-radius: 6px;
    border-radius: 6px;
}

ul#slider2 {
    /*width: 400px;*/
    /*height: 300px;*/
    list-style: none;
}

ul#slider2 img {
    width: 100%;
    height: 100%;
}

ul#slider2 .panel { position: relative; }

ul#slider2 li {
    position: relative;
    list-style: none;
}

.caption2 {
    width: 500px;
    height: 50px;
    margin: 10px auto;
    padding-left: 10px;
    /*border-top: yellow 5px solid;  */
    background: rgba(80,80,80,.7);
    color: white;
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;

    -webkit-border-radius: 6px;
    border-radius: 6px;
}