{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Ajibita - Materiais de Construção{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Fabio Neves">

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+SC:900' rel='stylesheet' type='text/css'>
    <link href="{%  static "css/ajibita-theme1.css"%}"  rel="stylesheet">
    <link href="{%  static "css/font-awesome.css" %}" rel="stylesheet" >
    <link href="{%  static "css/ajibita.css"%}"  rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%  static "img/ico/apple-touch-icon-144-precomposed.png"%}"  >
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%  static "img/ico/apple-touch-icon-114-precomposed.png"%}" >
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%  static "img/ico/apple-touch-icon-72-precomposed.png"%}" >
    <link rel="apple-touch-icon-precomposed" href="{%  static "img/ico/apple-touch-icon-57-precomposed.png"%}" >

    <style type="text/css">
        .navbar {
            margin-bottom: 0px;
        }
    </style>
</head>

<body>

<div id="top"></div>
<div  class="navbar">
    <div class="navbar-inner navbar-fixed-top">
        <div class="container">
            <a class="brand logo" href="#">AJIBITA</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a  href="#top" id="topLink">Início</a></li>
                    <li><a href="#empresa" id="empresaLink" name="empresa" >A empresa</a></li>
                    <li><a href="#prod" name="prodLink">Produtos</a></li>
                    <li><a href="#promo" name="promoLink">Promoções</a></li>
                    <li><a href="#contactos" id="contactosLink" >Contactos</a></li>
                    <li><a href="#grupo"  name="grupoLink">O Grupo</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    {% block content %}


    {% endblock %}
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{%  static "js/jquery-1.8.0.js" %}"></script>
<script src="{%  static "js/bootstrap.js" %}"></script>

</div>

{%  block extrascripts %}
{% endblock %}
<script>

    function scrollTo(id){
        $('html,body').animate({scrollTop: $("#"+id).offset().top},1200);
    }

    $(document).ready(function(){
        $('#empresaLink').each(function(index,value){
            $(value).bind("click",function(e) {
                e.preventDefault();
                scrollTo("empresa");
            });
        });

        $('#prodLink').each(function(index,value){
            $(value).bind("click",function(e) {
                e.preventDefault();
                scrollTo("prod");
            });
        });

        $('#promoLink').each(function(index,value){
            $(value).bind("click",function(e) {
                e.preventDefault();
                scrollTo("promo");
            });
        });

        $('#grupoLink').each(function(index,value){
            $(value).bind("click",function(e) {
                e.preventDefault();
                scrollTo("grupo");
            });
        });

        $('#contactosLink').each(function(index,value){
            $(value).bind("click",function(e) {
                e.preventDefault();
                scrollTo("contactos");
            });
        });
    });
</script>
</body>
<footer class="footer">
    <div id="contactos" class="container">
        <div class="row">

            <div class="span4 ">
                <div class="footercell right_ruler">
                    <br>
                    <div style="font-size: 24px;">
                        <i class="icon-phone"></i>&nbsp;&nbsp;Contactos
                    </div>
                    <br>
                    <address>
                        <div style="font-size: 16px;">
                            <strong> AJIBITA - Materiais de Construção SA</strong>
                        </div>
                        Zona Industrial Olho de Boi-Alferrarede<br>
                        2200-480 ABRANTES<br>
                        Portugal<br>
                        <abbr title="Telefone">Tel:</abbr> 00351 241 360 870<br>
                        <div style="font-size: 16px;">
                            <i class="icon-envelope"></i>&nbsp;&nbsp;<a href="mailto:#">first.last@gmail.com</a>
                        </div><br>
                        <div style="font-size: 30px;">
                            <a href="http://pt-pt.facebook.com/pages/Ajibita-SA/113871721959354" target="_blank" class="social">
                                <i class="icon-facebook-sign icon-large"></i></a>
                        </div>
                    </address>
                </div>
            </div>

            <div class="offset1 span7">
                <br>
                <div class="footercell">

                    <div style="font-size: 24px;">
                        <i class="icon-screenshot"></i>&nbsp;&nbsp;Localização
                    </div>
                    <br>
                    <div class="img-polaroid">
                        <iframe width="530" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-PT&amp;geocode=&amp;q=Ajibita&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.638819,86.572266&amp;t=h&amp;ie=UTF8&amp;hq=Ajibita&amp;hnear=&amp;radius=15000&amp;ll=39.474697,-8.191853&amp;spn=0.023189,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pt-PT&amp;geocode=&amp;q=Ajibita&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.638819,86.572266&amp;t=h&amp;ie=UTF8&amp;hq=Ajibita&amp;hnear=&amp;radius=15000&amp;ll=39.474697,-8.191853&amp;spn=0.023189,0.036478&amp;z=14" style="color:#0000FF;text-align:left">Ver mapa maior</a></small>
                    </div>

                </div>
                <br><br>

                <div class="pull-right">
                    <p>&copy; AJIBITA 2012</p>
                </div>
            </div>

        </div>

    </div>
</footer>
</html>
